table.tabellone {
    width: fit-content;
    height: fit-content;
}

img.nave {
    min-width: 32px;
    min-height: 32px;
    max-width: 32px;
    max-height: 32px;
}

.g1 {
    float: left;
}

.g2 {
    float: left;
}