table.tabellone {
    width: fit-content;
    height: fit-content;
}

img.portaerei {
    min-width: 164px;
    min-height: 32px;
    max-width: 164px;
    max-height: 32px;
}

img.incrociatore {
    min-width: 128px;
    min-height: 32px;
    max-width: 128px;
    max-height: 32px;
}

img.torpediniere {
    min-width: 76px;
    min-height: 32px;
    max-width: 76px;
    max-height: 32px;
}

img.sommergibile {
    min-width: 32px;
    min-height: 32px;
    max-width: 32px;
    max-height: 32px;
}

button.horizontal {
    rotate: 0deg;
}

button.vertical {
    rotate: -90deg;
}

input.txtinput {
    width: 30%;
}

button.square {
    width: 32px;
    height: 32px;
    cursor: crosshair;
    margin: 0;
}

.crosshair 
{
    cursor: crosshair;
}

#riquadroGuida {
    visibility: hidden;
    width: 32px;
    height: 32px;
    border: 2px solid rgb(49, 111, 244);
    background-color: rgba(49, 111, 244, 10%);
    position: absolute;
    z-index: 10;
    pointer-events: none; /* Evita che il riquadro interferisca con il mouse */
}

@font-face {
    font-family: koba;
    src: url(Font\koba-italic.otf);
  }

@font-face {
    font-family: my_impact;
    src: url(Font\impacted.ttf);
  }