.tab
{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: slateblue;
    margin: 5px;
}

.quadratoTitolo
{
    position: relative;
    z-index: 0;
    background-image:url("/formaTitolo");
    height: 150px;
    width: 1200px;
    margin: 5px;
}

.quadratoDescrizione
{
    width: 1130px;
    margin: 5px;
}

.titolo
{
    z-index: 1;
    font-family: Aalto;
    padding: 1%;
    font-size: 120px;
}

.descrizione
{
    font-family: my_impact;
    font-size: 100px;
}


.visibile
{
    visibility: visible;
}

.invisibile
{
    visibility: hidden;
}