.tab
{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: slateblue;
    margin: 5px;
}

.quadratoTitolo
{
    height: 150px;
    width: 1200px;
    margin: 5px;
}

.quadratoDescrizione
{
    width: 1130px;
    margin: 5px;
}

.titolo
{
    font-family: koba;
    padding: 1%;
    font-size: 120px;
}


.visibile
{
    visibility: visible;
}

.invisibile
{
    visibility: hidden;
}